.main_container {
  background: #f7f6fd;
  padding: 0;
  padding-top: 22px;
  margin: 0;
}

.navbar {
  background: #f7f6fd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #FFF;
  margin-bottom: 20px;
  padding: 10px 0;
  z-index: 1;
}

.navbar-icon {
  padding: 10px 20px;
  text-align: center;
  min-width: 70px;
  border-radius: 60px;
  cursor: pointer;
}

.view-logs_icon.inactive{
  /* background: #fca001; */
  pointer-events: none;
}

.nav-link {
  text-align: center;
}

.nav-link a, .nav-link svg {
  color: #133676;
}

.scan_icon {
  background: #87e0ef;
}

.terminate_icon {
  background: #f25767;
}

.terminal-box {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 20px;
  background: #f7f6fd;
  box-shadow: 0 0 0 2px #dddded inset;
}

.terminal-box.offline {
  opacity: 0.5;
}

.terminal-box_header {
  background: #e7e7f7;
  border-radius: 17px;
  height: 50px;
  padding: 2px 4px;
}

.terminal-box_header_icon {
  background: #cbccde66;
  color: #bcb9da;
  border-radius: 13px;
  padding: 8px 10px;
}

.terminal-box_header_icon.online {
  background: #86ef9882;
}

.terminal-box_content {
  padding: 4px 10px;
}

.link {
  color: #FFF;
  text-decoration: none;
}

.go-back_link {
  color: #322a7c;
  text-decoration: none;
}

.ip-address {
  color: #4e506c;
  background: #dbdeed;
  padding: 6px 14px;
  border-radius: 10px;
  box-shadow: -1px 0px 7px 2px #7273843d;
  transition: all 0.2s ease-in-out;
}

.ip-address.selected {
  background: #c6c6dc;
}

.terminals_list {
  margin-top: 50px;
}